.size {
  width: 1200px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 30px 0;
  margin-bottom: 40px;

  background-color: var(--background);
}

.header__container-logo {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 25%;
  padding: 0 2%;

  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.header__container-logo img {
  width: 30px;
  margin-right: 8px;
}

.header__container-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  
  width: 50%;
  height: 100%;
}
.header__container-left nav ul{
  display: flex;
  gap:30px;
  list-style: none;
  text-decoration: none;
}
.header__container-left nav ul li a{
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  color: black;
  transition: all 100ms ease-in-out;
}
.header__container-left nav ul li a:hover {
  text-decoration: underline;
  color: red; 
}

.header__container-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  width: 25%;
  min-height: 50px;
  padding: 0 2%;

}

.header__container-right input {
  margin-right: 64px;
  align-items: center;

}

.btn-theme {
  cursor: pointer;
}

.btn-theme:hover {
  opacity: 0.9;
}

.header__title {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 150%;

  color: #fe0178; 
  text-transform: uppercase; 
  letter-spacing: 2px; 

  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3); 
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 15px;
}
.container>h1{
  align-self: flex-start;
  padding: 13px 18px;
  border-radius: 25px 25px 0px 0;
margin-bottom: -15px;

  font-size: 14px;
  font-weight: 500;
  box-shadow:1px 1px 2px rgba(5, 4, 4, 0.2);

  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3);

  background-color: #fe01778f;
}

.input {
  all: unset;
  box-sizing: border-box;

  width: 300px;
  height: 48px;
  padding: 16px;

  border: 1px solid var(--input-color);
  color: var(--text-color);

  transition: all 800ms ease-in-out;
  opacity: 0;
}

.input::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;

  color: var(--input-color);
}

.movies-container {
  display: flex;
  align-items: center;
  padding: 16px;
  width: 100%;
  height: 296px;

  background: var(--bg-secondary);
  position: relative;
}

.movies-container,
.movies {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.btn-prev,
.btn-next {
  cursor: pointer;
  position: absolute;
}

.btn-prev {
  top: 50%;
  left: -60px;
}

.btn-next {
  top: 50%;
  left: calc(100% + 10px);
}

.movie {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 176px;
  height: 264px;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  cursor: pointer;

  box-shadow: 0px 4px 8px var(--shadow-color);
}

.movie__info {
  background-color: rgba(0, 0, 0, 0.8);

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: auto;
  padding: 8px 10px;

  font-style: normal;
  font-weight: bold;
  line-height: 150%;
}

.movie__title {
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-size: 16px;

  color: #fdfdfd;
}

.movie__rating {
  display: flex;
  align-items: center;
  gap: 4px;

  font-size: 12px;
  color: var(--rating-color);
}

.subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;

  color: var(--text-color);

  margin-bottom: 16px;
}

.highlight {
  display: flex;
  gap: 16px;

  padding: 16px;
  background-color: var(--bg-secondary);
}

.highlight__video {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 560px;
  height: 310px;
}

.highlight__info {
  width: 560px;
  min-height: 310px;
}

.highlight__title-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 8px;
}

.highlight__title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;

  margin-bottom: 8px;

  color: var(--text-color);
}

.highlight__rating {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;

  color: var(--rating-color);
}

.highlight__genre-launch {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;

  text-transform: uppercase;

  color: var(--text-color);

  margin-bottom: 36px;
}

.highlight__description {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;

  opacity: 0.8;

  color: var(--text-color);
}

.modal {
  background-color: rgba(0, 0, 0, 0.8);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  overflow-y: scroll;
}

.modal__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 793px;
  min-height: 100vh;
  padding: 32px;

  background-color: var(--bg-secondary);

  position: absolute;
  top: 0px;
}

.hidden {
  display: none;
}

.modal__close {
  position: absolute;
  right: 32px;
  top: 32px;

  cursor: pointer;
}

.modal__title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
  color: var(--text-color);

  margin-bottom: 40px;
}

.modal__img {
  width: 729px;
  height: 413px;

  margin-bottom: 20px;
}

.modal__description {
  font-style: normal;
  font-size: 20px;
  line-height: 150%;

  color: var(--text-color);

  width: 729px;

  margin-bottom: 20px;
}

.modal__genre-average {
  width: 729px;
  align-self: center;

  display: flex;
  justify-content: space-between;
}

.modal__genres {
  display: flex;
  gap: 12px;
}

.modal__genre,
.modal__average {
  border-radius: 8px;
  padding: 10px;

  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;

  color: #ffffff;
}

.modal__genre {
  background: #fe0078;
}

.modal__average {
  background: var(--rating-color);
}

#lupa-pesquisar{
  width: 40px;
  height: 40px;
  margin-right: 20px;
  cursor: pointer;
}

.show{
  display: flex;
}
.hide{
  display: none;
}

.paginacao{
  margin-bottom: 30px;
}
.container-stream{
  display: flex;
  justify-content:space-between;
  gap:10px;

  margin-bottom: 30px;
}
.stream {
  position: relative;
  width: 197px;
  height: 109px;
  border-radius: 5px;

  cursor: pointer;
}
.anime{
  background: black url('../assets/stream/anime.png') center/cover;
}
.anime::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 1s ease;
  box-shadow: 0 0 10px white inset;
}
.anime:hover::before{
  box-shadow: 0 0 10px white inset;
  opacity: 1;
  background: url('../assets/stream/anime.gif') center/cover;
}
.disney{
  background: black url('../assets/stream/disney.png') center/cover;
}
.disney::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 1s ease;
  box-shadow: 0 0 10px white inset;
}
.disney:hover::before{
  box-shadow: 0 0 10px white inset;
  opacity: 1;
  background: url('../assets/stream/disney.gif') center/contain no-repeat;
}     
.hbo{
  background: black url('../assets/stream/hbo.png') center/contain no-repeat;
  position: relative;
}
.hbo::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 1s ease;
  box-shadow: 0 0 10px white inset;
}
.hbo:hover::before{
  box-shadow: 0 0 10px white inset;
  opacity: 1;
  background: rgb(49, 48, 48) url('../assets/stream/hbo.png') center/cover no-repeat;
}    

.netflix{
  background: black url('../assets/stream/netflix.png') center/contain no-repeat;
}
.netflix::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 1s ease;
  box-shadow: 0 0 10px white inset;
}
.netflix:hover::before{
  box-shadow: 0 0 10px white inset;
  opacity: 1;
  background: url('../assets/stream/netflix.gif') center/cover no-repeat;
}    
.marvel{
  background: black url('../assets/stream/marvel.png') center/contain no-repeat;
}
.marvel::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 1s ease;
  box-shadow: 0 0 10px white inset;
}
.marvel:hover::before{
  box-shadow: 0 0 10px white inset;
  opacity: 1;
  background: url('../assets/stream/marvel.gif') center/cover no-repeat;
}    

.prime{
  background: black url('../assets/stream/prime.png') center/cover no-repeat;
}
.prime::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 1s ease;
  box-shadow: 0 0 10px white inset;
}
.prime:hover::before{
  box-shadow: 0 0 10px white inset;
  opacity: 1;
  background: url('../assets/stream/prime.gif') center/contain no-repeat;
}